table {
    border-collapse: collapse;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

td, th {
  border: 1px solid #999;
  padding: 0.5rem;
}
