<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<table border='1' >
    <thead>
    <tr>
        <th>order ID</th>
        <th>price</th>
        <th>product ID</th>
        <th>shopper ID</th>
        <th>seller ID</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${order}">
        <th th:text="${order.orderID}">passengerID</th>
        <th th:text="${order.price}">fullName</th>
<!--        <th th:text="${order.productId}">passportNumber</th>-->
<!--        <th th:text="${order.shopperId}">phoneNumber</th>-->
<!--        <th th:text="${order.sellerId}">phoneNumber</th>-->
    </tr>
    </tbody>
</table>
<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>