<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<table border='1' >
    <thead>
    <tr>
        <th>product ID</th>
        <th>name</th>
        <th>description</th>
        <th>weight</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${product}">
        <th th:text="${product.productID}">passengerID</th>
        <th th:text="${product.productName}">fullName</th>
        <th th:text="${product.productDescription}">passportNumber</th>
        <th th:text="${product.productWeight}">phoneNumber</th>
    </tr>
    </tbody>
</table>
<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>