<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
    <table border='1' >
        <thead>
        <tr>
            <th>seller ID</th>
            <th>first name</th>
            <th>last name</th>
            <th>salary</th>
            <th>work h</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="seller : ${seller}">
            <th th:text="${seller.sellerID}">passengerID</th>
            <th th:text="${seller.firstName}">fullName</th>
            <th th:text="${seller.lastName}">passportNumber</th>
            <th th:text="${seller.salary}">phoneNumber</th>
            <th th:text="${seller.workHours}">benefits</th>
        </tr>
        </tbody>
    </table>
<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>