<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
    <table border='1' >
        <thead>
        <tr>
            <th>shopper ID</th>
            <th>first name</th>
            <th>last name</th>
            <th>email</th>
            <th>password</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="shopper : ${shopper}">
            <th th:text="${shopper.shopperID}">passengerID</th>
            <th th:text="${shopper.firstName}">fullName</th>
            <th th:text="${shopper.lastName}">passportNumber</th>
            <th th:text="${shopper.email}">phoneNumber</th>
            <th th:text="${shopper.password}">benefits</th>
        </tr>
        </tbody>
    </table>
<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>