<div th:fragment="footer">
    <div class="b-example-divider"></div>
    <nav class="py-2 bg-light border-bottom">
        <div class="container d-flex flex-wrap">
            <ul class="nav me-auto">
                <li class="nav-item"><a href="/" class="nav-link link-dark px-2 active" aria-current="page">Home</a></li>
                <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Sellers</a></li>
                <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Shoppers</a></li>
                <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Products</a></li>
                <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Orders</a></li>
            </ul>
            <ul class="nav">
                <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Log out</a></li>
            </ul>
        </div>
    </nav>
    <div class="b-example-divider"></div>
</div>