<div th:fragment="header">
    <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
            <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="/seller" class="nav-link">Sellers</a></li>
            <li class="nav-item"><a href="/shopper" class="nav-link">Shoppers</a></li>
            <li class="nav-item"><a href="/product" class="nav-link">Products</a></li>
            <li class="nav-item"><a href="/order" class="nav-link">Orders</a></li>
        </ul>
    </header>
</div>
